.teacher-class-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
}

.class-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.class-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.class-item:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
