.teacher-student-details {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.ul {
  list-style: none;
  padding-left: 0;
}

.li {
  font-size: 16px;
  margin-bottom: 5px;
}
