<h2>Mailing listy</h2>

<div class="row">
  <div class="col-sm-4">
    <h3>Rodičia</h3>
    <ul>
      <li *ngFor="let rodic of rodicia">
        {{ rodic.meno }} {{ rodic.priezvisko }} ({{ rodic.email }})
      </li>
    </ul>
  </div>
  <div class="col-sm-4">
    <h3>Učitelia</h3>
    <ul>
      <li *ngFor="let ucitel of ucitelia">
        {{ ucitel.meno }} {{ ucitel.priezvisko }} ({{ ucitel.email }})
      </li>
    </ul>
  </div>
  <div class="col-sm-4">
    <h3>Ročníky</h3>
    <ul>
      <li *ngFor="let rocnik of rocniky">
        <h4>{{ rocnik.nazov }}</h4>
        <ul>
          <li *ngFor="let dete of rocnik.deti">
            {{ dete.meno }} {{ dete.priezvisko }} ({{ dete.email }})
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
